.App{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  
}
.AppHeader{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(0deg,
			rgba(0, 0, 0, 0.05),
			rgba(0, 0, 0, 0.05)),
		url(./IMG/Headerbackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.AppFooter{
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(0deg,
  rgba(0, 0, 0, 0.05),
  rgba(0, 0, 0, 0.05)),
url(./IMG/Headerbackground.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.SideMenuAndPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.05) ;
  background-color: rgb(255, 255, 255);
}
.SideMenu{
  height: 100%;  
  border-bottom: solid  rgb(240, 237, 237) 1px;
  border-right: solid  rgb(240, 237, 237) 1px;
}
.SideMenuVertical{
  height: 100%;
  
}
.PageContent{
  padding-left: 12px;
  
} 